
/* PHONE */
@media screen and (max-width: 770px) {
     /* css for small device */
     /*                      */

    .alert-true{
        width: 60%;
    }
    
    .alert-false{
        width: 60%;
    }

    .auth-box{
        width: 90%;
    }

    .home-h1{
        font-size: 2.2rem;
    }

    .home-menu-button{
        font-size: 1.4rem;
    }

    .task-add textarea{
        width: 90%;
        height: 4rem;
        font-size: 1rem;
    }
    
    .task-add input[type=checkbox]{
        height: 2rem;
    }

    .task-add input[type=date]{
        height: 2rem;
    }

    .task-add button{
        font-size: 1.2rem;
    }

    .task-box{
        width: 80%;
    }

    .task-box p{
        font-size: 1.2rem;
    }

    .task-box button{
        font-size: 1.2rem;
        padding: 1.2rem;
    }
}