
/* PHONE */
@media screen and (max-width: 580px) {
     /* css for small device */
     /*                      */

    .alert-true{
        width: 60%;
    }
    
    .alert-false{
        width: 60%;
    }

    .auth-box{
        width: 90%;
    }

    .home-h1{
        font-size: 2.2rem;
    }

    .home-menu-button{
        font-size: 1.4rem;
    }

    .task-add textarea{
        width: 70%;
        height: 3rem;
        font-size: 1.2rem;
    }
    
    .task-box p{
        padding: 2%;
    }
    
    .task-box form{
        margin: 2%;
        margin-top: 0;
    }
}