/* https://coolors.co/7be0ad-aee5d8-e7e5e5-e5d0e3-e0b0d5 */

body{
    /* background-image: linear-gradient(
        to right, rgb(201, 202, 177), rgb(247, 227, 237)
    ); */
    background-color: #fafafa;
    min-height: 100vh;
}

/* PC */
@media screen and (min-width: 480px) {
    /* css for large device */
    /*                      */

}