/* https://coolors.co/7be0ad-aee5d8-e7e5e5-e5d0e3-e0b0d5 */

body{
    /* background-image: linear-gradient(
        to right, rgb(201, 202, 177), rgb(247, 227, 237)
    ); */
    /* background: linear-gradient(122deg, #000 0%, #0F0546 100%); */
    background: linear-gradient(90deg, #12142b 0%, #160909 100%);
    min-height: 100vh;
    color:aliceblue;
    font-family: Sans-serif;
    text-align: center;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100vw;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 0;
}

.sidenav form button{
    margin: 1% auto;
    font-size: 2rem;
    vertical-align: top;
    background-color: #ff05ac;
    border: none;
    border-radius:10px;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.alert-true{
    background-color: greenyellow;
    margin: auto;
    width: 20%;
    color: #0F0546;
    font-size: 2rem;
    border-radius: 10px;
}

.alert-false{
    background-color: rgb(210, 39, 39);
    margin: auto;
    width: 20%;
    color: #0F0546;
    font-size: 2rem;
    border-radius: 10px;
}

.auth-body{
    /* background-color: #18314F; */
    min-height: 90vh;
    color:aliceblue;
    justify-content: center;
    text-align: center;
}

.auth-box{
    margin: auto;
    background: linear-gradient(252deg, #16023A 0%, #1E1371 100%);
    padding: 3%;
    border-radius: 20px;
    width: 30%;
}

.auth-h1{
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 5rem;
}

.auth-input{
    font-size: 2rem;
    padding: 1.2%;
    border-radius: 10px;
    margin-bottom: 2%;
    max-width: 80%;
}

.auth-submit{
    font-size: 2rem;
    padding: 1.2%;
    border-radius: 10px;
    background-color: #1D1844;
    border-width: 2px;
    border-color: black;
    color:aliceblue;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 2%;
}

.auth-next{
    font-size: 1.5rem;
    padding: 1.2%;
    border-radius: 10px;
    background-color: #8BBEB2;
    border-width: 2px;
    border-color: black;
    color:aliceblue;
    padding-left: 4%;
    padding-right: 4%;
}

.home-body{
    min-height: 100vh;
    color:aliceblue;
    justify-content: center;
    text-align: center;
}

.home-h1{
    font-size: 4rem;
    margin-top: 0;
    color: #ff05ac;
    font-weight: bold;
}

.home-menu-button{
    float: right;
    font-size: 2rem;
    margin-right: 0.5%;
    margin-top: 0.5%;
    vertical-align: top;
    background-color: #ff05ac;
    border: none;
    border-radius:10px;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* .task-add{
    background-color: blue;
} */

.task-add textarea{
    display:inline-block;
    vertical-align: top;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.2%;
    width: 40%;
    height: 4rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    resize:vertical;
}

.task-add input[type=checkbox]{
    display:inline-block;
    vertical-align: top;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    resize:vertical;
}

.task-add input[type=date]{
    display:inline-block;
    vertical-align: top;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1rem;
    height: 4rem;
    /* width: 4rem; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    resize:vertical;
}

.task-add button{
    display:inline-block;
    vertical-align: top;
    background-color: #dd32aa;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.task-box{
    display: inline-flex;
    width: 30%;
    margin: 1% auto;
    margin-left: 1%;
    margin-right: 1%;
    background: linear-gradient(90deg, #161a42 0%, #351313 100%);
    border-radius: 10px;
}

.task-box p{
    display:inline-block;
    font-size: 1.5rem;
    text-wrap: wrap;
    padding: 1%;
}

.task-box div{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.task-box-task{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
}

.task-box-datum{
    background-color: #111;
    border-radius: 10px;
    max-width: fit-content;
    align-self: center;
}

.task-box button{
    display:inline-block;
    background-color: #4b274a;
    border-color: #450651;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    min-height: 2rem;
    width: 8rem;
    padding: 2rem;
    cursor: pointer;
}

.task-important{
    /* background: linear-gradient(90deg, #161a42 0%, #a80a9d 100%); */
    border-color: #ff05ac;
    border-width: 2px;
    border-style: solid;
}

.task-in_progress{
    background: linear-gradient(90deg, #195859 0%, #351313 100%);
}

/* PC */
@media screen and (min-width: 580px) {
    /* css for large device */
    /*                      */

    .auth-box{
        width: 30%;
    }
}