<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/previews/009/267/428/non_2x/element-flower-icon-free-png.png">
    <link rel="stylesheet" href="/pc.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/script.js"></script>
    <title>Tasks</title>
</head>
<body>
    <h1>To Do list</h1>
    <h2>Hello <%=name%></h2>
    
    <% for(var i=0; i < tasks.length; i++) { %>
        <div>
            <p><%=tasks[i]%></p><button><a>Complete</a></button>
        </div>
    <% } %>
</body>
</html>