<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.iconarchive.com/download/i108459/google/noto-emoji-people-bodyparts/11947-middle-finger-light-skin-tone.1024.png">
    <link rel="stylesheet" href="/pc.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/script.js"></script>
    <title>Tasks</title>
</head>
<body class="home-body">
    <div id="mySidenav" class="sidenav">
        <h1>Menu:</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form action="/auth/logout" method="post"><button type="submit">Logout</button></form>
        <form action="/delete" method="get"><button type="submit">Delete</button></form>
    </div>
    <button class="home-menu-button" onclick="openNav()">&#9776; Menu</button>
    <script>
        function openNav() {
            var val = 250;
            if(window.innerWidth<250){
                val = window.innerWidth;
            }
            document.getElementById("mySidenav").style.width = val+"px";
            document.getElementById("mySidenav").style.left = window.innerWidth-val+"px";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("mySidenav").style.left = window.innerWidth+"px";
        }
    </script>


    <h1 class="home-h1">You Need To Do This Shit <%=name%>!</h1>

    <form class="task-add" action="/task/add" method="post">
        <textarea type="text" name="new_task" id="new_task"></textarea>
        <Button type="submit">Add</Button>
    </form>
    
    <% var t = Object.keys(tasks); %>
    <% var task_css_class; %>
    <% var in_progress; %>
    <% t.reverse(); %>
    <% for(var i=0; i < t.length; i++) { %>
        <% task_css_class = ""; %>
        <% in_progress = ""; %>
        <% if(tasks[t[i]]["in_progress"]){task_css_class+=" task-in_progress"; in_progress=" - in_progress";} %>
        <% if(tasks[t[i]]["important"]){task_css_class+=" task-important";} %>
        <div class="task-box">
            <p class="<%=task_css_class%>" ><%=t[i]%><%=in_progress%></p>
            <br>
            <form action="/task/delete/<%=t[i]%>" method="post">
                <button type="submit" >Complete</button>
            </form>
            <form action="/task/progress/<%=t[i]%>" method="post">
                <button type="submit" >Progress</button>
            </form>
            <form action="/task/important/<%=t[i]%>" method="post">
                <button type="submit" >important</button>
            </form>
        </div>
    <% } %>
</body>
</html>