<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.iconarchive.com/download/i108459/google/noto-emoji-people-bodyparts/11947-middle-finger-light-skin-tone.1024.png">
    <link rel="stylesheet" href="/pc.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/script.js"></script>
    <title>Login</title>
</head>
<body class="auth-body">

    <h1 class="auth-h1">Login Screen</h1>

    <% if(success!=null){ %>
        <div class="alert-<%=success.is%>">
            <p><%=success.mess%></p>
        </div>
    <% } %>

    <div class="auth-box">
        <form class="auth-form" action="/auth/login" method="post">
            <input class="auth-input" placeholder="email" type="text" name="email" id="user_email">
            <br>
            <input class="auth-input" placeholder="password" type="password" name="password" id="user_password">
            <br>
            <button class="auth-submit" type="submit">Login</button>
        </form>

        <form action="/register">
            <button class="auth-next" >Dont have account?</button>
        </form>
    </div>
</body>
</html>